<web-app>

	<!-- General description of your Web application -->
	<display-name>
		Assignment 4
	</display-name>

	<!-- Servlet definitions -->
	<servlet>
		<servlet-name>SQLQueryServlet</servlet-name>
		<servlet-class>SQLQueryServlet</servlet-class>
		<init-param>
			<param-name>databaseDriver</param-name>
			<param-value>com.mysql.jdbc.Driver</param-value>
		</init-param>
		<init-param>
			<param-name>databaseName</param-name>
			<param-value>jdbc:mysql://localhost:3312/project4</param-value>
		</init-param>
		<init-param>
			<param-name>username</param-name>
			<param-value>root</param-value>
		</init-param>
		<init-param>
			<param-name>password</param-name>
			<param-value>1234</param-value>
		</init-param>

	</servlet>

	<!-- Servlet mappings -->
	<servlet-mapping>
		<servlet-name>SQLQueryServlet</servlet-name>
		<url-pattern>/SQLQueryServlet</url-pattern>
	</servlet-mapping>

</web-app>

